.btn{
    text-align: center;
    width: 100%;
    background: #1d44f2;
   color: #fff;
  text-transform: uppercase;
  line-height:38px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.my-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.my-card{
 
    background: linear-gradient(rgba(8, 141, 250, 0), rgb(60, 189, 60));
}